<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Vue lesson1</title>
</head>
<body>
    <!-- Введение vue переменных в DOM -->
    <div id="app">
        {{ message }}
    </div>
    <!-- Изменение аттрибутов через Vue-->
    <div id="app-2">
        <span v-bind:title="message">
            Наведи на меня курсор на пару секунд,
            чтобы увидеть динамически связанное значение title
        </span>
    </div>
    <!-- Применение условий-->
    <div id="app-3">
        <span v-if="seen">You can see me now</span>
    </div>
    <!-- Циклы -->
    <div id="app-4">
        <ul>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ul>
    </div>
    <!-- Функции -->
    <div id="app-5">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage1">Reverse Message</button>
    </div>
    
    <!-- v-model -->
    <div id="app-6">
        <p>{{ message }}</p>
        <!-- Первая запись изменяет app6.message при изменение текста в input -->
        <!-- Вторая - нет-->
        <input v-model="message">
        <input v-bind:value="message">
    </div>
    
    <!-- Компоненты -->
    <div id="app-7">
        <ol>
            <todo-item
            v-for="item in groceryList"
            v-bind:todo="item"
            v-bind:key="item.id"
            ></todo-item>
        </ol>
    </div>
    <script src="index.js"></script>
</body>
</html>