<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Components Example</title>
    <script src="https://unpkg.com/vue@2"></script>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div id="dynamic-component-demo">
        <h3>Dynamic Component demo V1</h3>
        <button
            v-for="tab in tabs"
            v-bind:key="tab"
            v-bind:class="['tab-button', { active: currentTab === tab }]"
            v-on:click="currentTab = tab"
        > {{ tab }}</button>
        <component v-bind:is="currentTabComponent" class="tab"></component>
    </div>

    <div id="dynamic-component-demo2">
        <h3>Dynamic Component demo V2</h3>
        <button
        v-for="tab in tabs"
        v-bind:key="tab.name"
        v-bind:class="['tab-button', { active: currentTab.name === tab.name }]"
        v-on:click="currentTab = tab"
        >
            {{ tab.name }}
        </button>

        <component v-bind:is="currentTab.component" class="tab"></component>
    </div>
    <script src="index.js"></script>
</body>
</html>